<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user do %>
            <%= image_tag user.get_profile_image, size: '50x50' %>
          <% end %>
        </td>
        <td><%= user.name %></td>
        <td>フォロー数: <a id="followings_count<%= user.id %>"><%= render "relationships/followings_count", user: user %></td>
        <td>フォロワー数: <a id="followers_count<%= user.id %>"><%= render "relationships/followers_count", user: user %></a></td>
        <% unless user == current_user %>
          <td id="follow<%= user.id %>">
            <%= render "relationships/follow_btn", user: user %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
