<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>followings</th>
    <th id="followings_count<%= user.id %>"><%= render "relationships/followings_count", user: user %></th>
  </tr>
  </tr>
  <tr>
    <th>followers</th>
    <th id="followers_count<%= user.id %>"><%= render "relationships/followers_count", user: user %></th>
  </tr>
</table>

<div class="btn-toolbar">
  <div class="btn-group">
    <% unless user == current_user %>
      <div id="follow<%= user.id %>">
        <%= render "relationships/follow_btn", user: user %>
      </div>
      <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
        <%= link_to 'chatを始める', chat_path(user.id), class: "btn btn-primary btn-sm" %>
      <% else %>
        <button type="button" class="btn btn-sm btn-secondary" disabled>chatを始める</button>
      <% end %>
    <% end %>
  </div>
</div>
<% if user == current_user %>
<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>
<% end %>